/* NAVBAR SECTION */

nav {
  background: #000;
  color: white;
  padding: 10px;
}

#navbar_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-link {
  margin: 0 15px; 
  color: #fff;
  transition: ease-in-out 0.3s; 
}

.nav_li_custom {
  text-decoration: none;
  color: #fff;
  font-family: Montserrat, 'sans-serif';
  font-weight: bold;
  font-size: 1rem;
  transition: border-bottom ease-in-out 0.3s;
  cursor: pointer;
}

.nav-link:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  animation: shadow-blink 0.5s infinite alternate;
}

@keyframes shadow-blink {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 0 0 15px rgba(255, 255, 255, 1);
  }
}


.logo_size {
  max-height: 50px;
  width: auto;
  transition: ease-in-out 0.3s; 
}

.logo_size:hover {
  transform: scale(1.1); 
  filter: brightness(1.2); 
}

/* HOME SECTION */

#home_section {
  padding: 5rem;
  background-image: url(./img/section2.jpg);
  background-size: cover;
}

#home_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home_img_div {
  flex-shrink: 0; body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  margin-right: 20px; 
}

#home_div{
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
  color: #fff;
  font-family: Montserrat, 'sans-serif';
}

#home_h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 3rem;
  text-shadow: 2px 2px 4px #000;
}

#home_p {
  font-size: 1.5rem;
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.grid-container {
display: grid;
grid-template-columns: 1fr auto; 
align-items: center; 
gap: 20px; 
}

.grid-item {
text-align: center; 
}

section {
background-color: #000;
padding: 20px;
margin-bottom: 0px;
}

#home_btn {
margin-top: 40px;
border: none;
background-color: #9b4480;
border-radius: 50px;
transition: background-color 0.3s ease;
padding: 10px;
width: 200px;
}

#home_btn:hover {
  background-color: #683762;
}

#home_btn > a {
color: #fff;
font-weight: bold;
text-decoration: none;
font-family: Montserrat, 'sans-serif';

}

#home_img {
  max-width: 500px;
  margin-right: 20px; 
  opacity: 0.3;
  border-radius: 30px;
  animation: dance 5s infinite;

}

@keyframes dance {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*COURSE SECTION*/

#course_section {
  padding: 5rem;
}

.ul_custom {
  padding: 0;
  margin: 20px auto;
  max-width: 600px;
}

.li_custom {
  list-style-type: none;
  margin: 10px 0;
  padding: 15px;
  background: linear-gradient(45deg, #683762, #9b4480); 
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

  .li_custom:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }


/*CONTACT SECTION*/

#contact_section {
  padding: 5rem;
  background-image: url(./img/section2.jpg);
  background-size: cover;
}

.card_custom {
  background-color: #9b4480;
  opacity: 75%;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px #000;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.card_custom:hover {
  background-color: #683762;
  transform: scale(1.05);
}

.card_title > a {
  color: #fff;
  font-family: Montserrat, 'sans-serif';
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s ease;
}


.icon {
  color: #fff;
}

/* FOOTER */

.footer_custom {
  background-color: #0e112b;
  text-align: center;
  color: #fff; 
}

.footer_custom a {
  color: #fff; 
  text-decoration: none; 
}

.footer_custom a:hover {
  color: #f8f9fa; 
}

.footer_custom p {
  margin-bottom: 0; 
}

.footer_icon {
  color: #9b4480; 
}

.footer_custom i.fas {
  margin-right: 4px;
}

/*RESPONSIVE STYLES*/

@media (max-width: 767px) {
  #home_content {
    flex-direction: column-reverse;
    text-align: center;
  }

  #home_img_div {
    margin-right: 0;
    margin-bottom: 20px;
  }

  #home_img_div img {
    max-width: 60%; 
    margin: 0 auto;
  }


  #home_h1 {
    font-size: 2.3rem;
  }

  #home_p {
    font-size: 1.3rem;
  }
}

@media (max-width: 991px) {
  .navbar-nav {
    text-align: center; 
  }

  .nav-item {
    display: block; 
    margin-bottom: 10px; 
  }
  
  .navbar-toggler {
    margin-top: 10px; 
  }
}
